.iphone-pro {
  background-color: #000000;
  overflow: hidden;
  width: 100%;
  min-width: 390px;
  height: 4350px;
  position: relative;
}

.iphone-pro .ellipse {
  position: absolute;
  top: -1088px;
  left: -1139px;
  width: 1467px;
  height: 1467px;
  background-color: #00316959;
  border-radius: 733.5px;
  filter: blur(300px);
  aspect-ratio: 1;
}

.iphone-pro .vector {
  position: absolute;
  width: 144.1%;
  height: 9.22%;
  top: 0;
  left: 0;
}

.iphone-pro .div {
  position: absolute;
  top: 497px;
  left: calc(50% - 246px);
  width: 490px;
  height: 678px;
  background-color: #0031694c;
  border-radius: 245px/339px;
  filter: blur(250px);
}

.iphone-pro .crafting-stunning {
  position: absolute;
  top: 458px;
  left: calc(50% - 151px);
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .for-weddings-brands {
  position: absolute;
  top: 522px;
  left: calc(50% - 145px);
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffffbf;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .text-wrapper {
  position: absolute;
  top: 743px;
  left: calc(50% - 141px);
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffffbf;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .group {
  position: absolute;
  top: 557px;
  left: 25px;
  width: 348px;
  height: 26px;
}

.iphone-pro .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 103px;
  height: 26px;
  background-color: #ffffff40;
  border-radius: 20px;
}

.iphone-pro .rectangle-2 {
  position: absolute;
  top: 0;
  left: 116px;
  width: 106px;
  height: 26px;
  background-color: #ffffff40;
  border-radius: 20px;
}

.iphone-pro .rectangle-3 {
  position: absolute;
  top: 0;
  left: 236px;
  width: 106px;
  height: 26px;
  background-color: #ffffff40;
  border-radius: 20px;
}

.iphone-pro .text-wrapper-2 {
  position: absolute;
  top: 6px;
  left: calc(50% - 166px);
  width: 87px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .text-wrapper-3 {
  position: absolute;
  top: 6px;
  left: calc(50% - 51px);
  width: 93px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .text-wrapper-4 {
  position: absolute;
  top: 6px;
  left: calc(50% + 68px);
  width: 93px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .frame {
  display: flex;
  width: 145px;
  height: 39px;
  align-items: center;
  gap: 10px;
  padding: 16px 15px;
  position: absolute;
  top: 606px;
  left: calc(50% - 72px);
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #ffffffc4;
  box-shadow: 0px 0px 30px #ffffff4c;
}

.iphone-pro .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -6.5px;
  margin-bottom: -4.5px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #00005b;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .me {
  position: absolute;
  top: 56px;
  left: calc(50% - 175px);
  width: 352px;
  height: 330px;
  aspect-ratio: 1.07;
}

.iphone-pro .ae {
  position: absolute;
  width: 20%;
  height: 10;
  top: 2.16%;
  left: 69.52%;
  aspect-ratio: 1;
}

.iphone-pro .img {
  position: absolute;
  width: 20%;
  height: 10;
  top: 3%;
  left: 10%;
  aspect-ratio: 1;
}

.iphone-pro .group-2 {
  position: absolute;
  width: 20%;
  height: 10;
  top: 6.52%;
  left: 71.72%;
  aspect-ratio: 1;
}

.iphone-pro .JP-pixel-art-logo {
  position: absolute;
  top: 297px;
  left: calc(50% - 85px);
  width: 171px;
  height: 171px;
  aspect-ratio: 1;
  object-fit: cover;
}

.iphone-pro .text-wrapper-6 {
  position: absolute;
  top: 31px;
  left: calc(50% - 110px);
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 8px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .portfolio {
  position: absolute;
  top: 712px;
  left: calc(50% - 84px);
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 6px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .frame-2 {
  display: flex;
  flex-direction: column;
  width: 695px;
  height: 1582px;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 788px;
  left: 20px;
}

.iphone-pro .product-listing {
  display: flex;
  flex-direction: column;
  width: 685px;
  height: 190px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.iphone-pro .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #e7e7e7;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .frame-3 {
  position: relative;
  width: 685px;
  height: 160px;
}

.iphone-pro .social-media-reels {
  display: flex;
  flex-direction: column;
  width: 685px;
  height: 314px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

/*.iphone-pro .group-3 {
  position: relative;
  width: 685px;
  height: 284px;
}*/

.group-3 {
  display: flex;
  gap: 15px;
  width: max-content;
  position: relative;
}
.group-3 video,
.group-3 img {
  flex: 0 0 auto;
  width: 160px;
  height: 284px;
  border-radius: 12px;
  object-fit: cover;
}

/*.iphone-pro .img-2 {
  top: 0;
  left: 0;
  width: 160px;
  height: 284px;
  aspect-ratio: 0.56;
  position: absolute;
  object-fit: cover;
}

.iphone-pro .image {
  top: 0;
  left: 175px;
  width: 160px;
  height: 284px;
  aspect-ratio: 0.56;
  position: absolute;
  object-fit: cover;
}

.iphone-pro .img-3 {
  top: 0;
  left: 350px;
  width: 160px;
  height: 284px;
  aspect-ratio: 0.56;
  position: absolute;
  object-fit: cover;
}

.iphone-pro .image-2 {
  top: 0px;
  left: 525px;
  width: 160px;
  height: 284px;
  aspect-ratio: 0.56;
  position: absolute;
  object-fit: cover;
}*/

.scroll-x {
  width: 100%;
  max-width: 390px;
  overflow-x: auto;
}

.iphone-pro .saas-brand-promo {
  display: flex;
  flex-direction: column;
  width: 456px;
  height: 218px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

/*.iphone-pro .grp-1 {
  position: relative;
  width: 456px;
  height: 188px;
}*/

.grp-1 {
  display: flex;
  gap: 5px;
  width: max-content;
  position: relative;
}

.iphone-pro .saas {
  top: 0;
  left: 0;
  width: 335px;
  height: 188px;
  aspect-ratio: 0.56;
  position: relative;
  object-fit: cover;
}

.iphone-pro .frame-4 {
  top: 0;
  left: 11px;
  width: 106px;
  height: 188px;
  aspect-ratio: 0.56;
  position: relative;
  object-fit: cover;
}

.iphone-pro .wedding-invites {
  display: flex;
  flex-direction: column;
  width: 686px;
  height: 314px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.iphone-pro .image-3 {
  top: -1570px;
  left: 505px;
  width: 160px;
  height: 284px;
  aspect-ratio: 0.56;
  position: absolute;
  object-fit: cover;
}

.iphone-pro .wedding-highlights {
  display: flex;
  flex-direction: column;
  width: 695px;
  height: 228px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.iphone-pro .frame-5 {
  display: flex;
  width: 694px;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  height: 188px;
}

.iphone-pro .image-wrapper {
  position: relative;
  width: 335px;
  height: 188px;
  aspect-ratio: 1.78;
}

.iphone-pro .image-4 {
  top: calc(50% - 94px);
  left: calc(50% - 168px);
  width: 334px;
  height: 188px;
  aspect-ratio: 1.78;
  position: absolute;
  object-fit: cover;
}

.iphone-pro .image-5 {
  top: calc(50% - 94px);
  left: calc(50% - 168px);
  width: 20px;
  height: 188px;
  aspect-ratio: 1.78;
  position: absolute;
  object-fit: cover;
}

.iphone-pro .social-media-reels-2 {
  display: flex;
  flex-direction: column;
  width: 694px;
  height: 218px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.iphone-pro .frame-6 {
  display: flex;
  width: 695px;
  align-items: flex-start;
  gap: 25px;
  margin-right: -1px;
  position: relative;
  height: 188px;
}

.iphone-pro .image-6 {
  top: calc(50% - 94px);
  left: calc(50% - 168px);
  width: 10px;
  height: 188px;
  aspect-ratio: 1.78;
  position: absolute;
  object-fit: cover;
}

.iphone-pro .line {
  left: 307px;
  position: absolute;
  top: 723px;
  width: 50px;
  height: 1px;
  object-fit: cover;
}

.iphone-pro .line-2 {
  left: 39px;
  position: absolute;
  top: 723px;
  width: 50px;
  height: 1px;
  object-fit: cover;
}

.iphone-pro .rectangle-4 {
  position: absolute;
  top: 2422px;
  left: calc(50% - 179px);
  width: 360px;
  height: 1258px;
  border-radius: 25px;
  border: none;
  backdrop-filter: blur(75px) brightness(100%);
  -webkit-backdrop-filter: blur(75px) brightness(100%);
  background: linear-gradient(180deg, rgba(0, 119, 255, 0.15) 0%, rgba(115, 115, 115, 0) 62%);
}

.iphone-pro .rectangle-4::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.iphone-pro .rectangle-5 {
  position: absolute;
  top: 3414px;
  left: calc(50% - 179px);
  width: 360px;
  height: 869px;
  border-radius: 25px;
  border: none;
  backdrop-filter: blur(75px) brightness(100%);
  -webkit-backdrop-filter: blur(75px) brightness(100%);
  background: linear-gradient(180deg, rgba(0, 119, 255, 0.15) 0%, rgba(115, 115, 115, 0) 62%);
}

.iphone-pro .rectangle-5::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.iphone-pro .ellipse-2 {
  position: absolute;
  top: 2321px;
  left: 306px;
  width: 797px;
  height: 797px;
  background-color: #00316973;
  border-radius: 398.66px;
  transform: rotate(-27.37deg);
  filter: blur(300px);
  aspect-ratio: 1;
}

.iphone-pro .ellipse-3 {
  position: absolute;
  top: 3207px;
  left: -458px;
  width: 797px;
  height: 797px;
  background-color: #00316973;
  border-radius: 398.66px;
  transform: rotate(-27.37deg);
  filter: blur(300px);
  aspect-ratio: 1;
}

.iphone-pro .rectangle-6 {
  position: absolute;
  top: 2441px;
  left: calc(50% - 22px);
  width: 45px;
  height: 18px;
  background-color: #ffffff33;
  border-radius: 22px;
  backdrop-filter: blur(2px) brightness(100%);
  -webkit-backdrop-filter: blur(2px) brightness(100%);
}

.iphone-pro .vector-2 {
  position: relative;
  top: 2434px;
  left: 217px;
  width: 11px;
  height: 12px;
}

.iphone-pro .vector-3 {
  position: absolute;
  top: 2518px;
  left: 39px;
  width: 26px;
  height: 33px;
}

.iphone-pro .text-wrapper-8 {
  position: absolute;
  top: 2444px;
  left: calc(50% - 14px);
  width: 29px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: -0.15px;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .i-m-janak-graphic {
  position: absolute;
  top: 2468px;
  left: calc(50% - 159px);
  width: 319px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.45px;
  line-height: 30px;
}

.iphone-pro .span {
  color: #ffffff;
  letter-spacing: -0.14px;
}

.iphone-pro .text-wrapper-9 {
  color: #171717;
  letter-spacing: -0.14px;
}

.iphone-pro .text-wrapper-10 {
  color: #fd8439;
  letter-spacing: -0.14px;
}

.iphone-pro .ellipse-4 {
  position: absolute;
  top: 2584px;
  left: calc(50% - 141px);
  width: 283px;
  height: 150px;
}

.iphone-pro .jnk {
  position: absolute;
  top: 2502px;
  left: calc(50% - 112px);
  width: 225px;
  height: 232px;
  aspect-ratio: 0.97;
}

.iphone-pro .hi-i-m-janak-the {
  position: absolute;
  top: 2792px;
  left: calc(50% - 154px);
  width: 309px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.9px;
}

.iphone-pro .text-wrapper-11 {
  position: absolute;
  top: 2751px;
  left: calc(50% - 51px);
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #e7e7e7;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .text-wrapper-12 {
  position: absolute;
  top: 2568px;
  left: 281px;
  width: 74px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.26px;
  line-height: 17px;
  white-space: nowrap;
}

.iphone-pro .text-wrapper-13 {
  position: absolute;
  top: 2588px;
  left: 302px;
  width: 55px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 10px;
  white-space: nowrap;
}

.iphone-pro .element-stars {
  position: absolute;
  top: 2554px;
  left: 296px;
  width: 59px;
  height: 9px;
}

.iphone-pro .text-wrapper-14 {
  position: absolute;
  top: 3010px;
  left: calc(50% - 74px);
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #e7e7e7;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .photoshop {
  position: absolute;
  top: 3052px;
  left: calc(50% - 157px);
  width: 317px;
  height: 69px;
}

.iphone-pro .rectangle-7 {
  position: absolute;
  top: 1px;
  left: calc(50% - 159px);
  width: 315px;
  height: 69px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(180deg, rgba(0, 119, 255, 0.15) 0%, rgba(115, 115, 115, 0) 80%);
}

.iphone-pro .rectangle-7::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.iphone-pro .rectangle-8 {
  position: absolute;
  top: 46px;
  left: 70px;
  width: 219px;
  height: 4px;
  background-color: #ffffff26;
  border-radius: 5px;
}

.iphone-pro .rectangle-9 {
  position: absolute;
  top: 46px;
  left: 70px;
  width: 197px;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(99, 151, 255, 1) 0%, rgba(255, 123, 235, 1) 100%);
}

.iphone-pro .text-wrapper-15 {
  position: absolute;
  top: 16px;
  left: calc(50% - 85px);
  width: 198px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #e7e7e7;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .group-4 {
  position: absolute;
  width: 11.59%;
  height: 53.03%;
  top: 22.73%;
  left: 5.96%;
  aspect-ratio: 1;
}

.iphone-pro .after-effects {
  position: absolute;
  top: 3214px;
  left: calc(50% - 157px);
  width: 317px;
  height: 69px;
}

.iphone-pro .rectangle-10 {
  position: absolute;
  top: 0;
  left: calc(50% - 159px);
  width: 315px;
  height: 69px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(180deg, rgba(0, 119, 255, 0.15) 0%, rgba(115, 115, 115, 0) 80%);
}

.iphone-pro .rectangle-10::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.iphone-pro .rectangle-11 {
  left: 70px;
  width: 172px;
  position: absolute;
  top: 46px;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(99, 151, 255, 1) 0%, rgba(255, 123, 235, 1) 100%);
}

.iphone-pro .group-5 {
  position: absolute;
  width: 11.59%;
  height: 53.03%;
  top: 22.58%;
  left: 5.99%;
  aspect-ratio: 1;
}

.iphone-pro .illustrator {
  position: absolute;
  top: 3133px;
  left: calc(50% - 157px);
  width: 317px;
  height: 69px;
}

.iphone-pro .rectangle-12 {
  position: absolute;
  top: 46px;
  left: 69px;
  width: 219px;
  height: 4px;
  background-color: #ffffff26;
  border-radius: 5px;
}

.iphone-pro .rectangle-13 {
  left: 69px;
  width: 155px;
  position: absolute;
  top: 46px;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(99, 151, 255, 1) 0%, rgba(255, 123, 235, 1) 100%);
}

.iphone-pro .text-wrapper-16 {
  position: absolute;
  top: 16px;
  left: calc(50% - 86px);
  width: 198px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #e7e7e7;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .group-6 {
  position: absolute;
  width: 11.59%;
  height: 53.03%;
  top: 23.48%;
  left: 6.29%;
  aspect-ratio: 1;
}

.iphone-pro .premiere-pro {
  position: absolute;
  top: 3295px;
  left: calc(50% - 157px);
  width: 317px;
  height: 69px;
}

.iphone-pro .rectangle-14 {
  left: 69px;
  width: 119px;
  position: absolute;
  top: 46px;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(99, 151, 255, 1) 0%, rgba(255, 123, 235, 1) 100%);
}

.iphone-pro .group-7 {
  position: absolute;
  width: 11.59%;
  height: 53.03%;
  top: 23.39%;
  left: 6.3%;
  aspect-ratio: 1;
}

.iphone-pro .p {
  position: absolute;
  top: 3440px;
  left: calc(50% - 150px);
  width: 302px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .i-m-here-and-ready {
  position: absolute;
  top: 3486px;
  left: calc(50% - 151px);
  width: 304px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.iphone-pro .connect {
  position: absolute;
  top: 3645px;
  left: calc(50% - 142px);
  width: 285px;
  height: 140px;
  aspect-ratio: 2.04;
  object-fit: cover;
}

.iphone-pro .text-wrapper-17 {
  position: absolute;
  top: 3806px;
  left: calc(50% - 142px);
  width: 285px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .text-wrapper-18 {
  position: absolute;
  top: 3884px;
  left: calc(50% - 155px);
  width: 311px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .currently-available {
  position: absolute;
  top: 3958px;
  left: calc(50% - 134px);
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .text-wrapper-19 {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
}

.iphone-pro .text-wrapper-20 {
  font-weight: 600;
}

.iphone-pro .frame-7 {
  display: inline-flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 16px 20px;
  position: absolute;
  top: 4113px;
  left: calc(50% - 92px);
  border-radius: 8px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(160deg, rgba(0, 200, 123, 1) 0%, rgba(1, 196, 95, 1) 100%);
}

.iphone-pro .vector-4 {
  position: relative;
  width: 26px;
  height: 25px;
  margin-top: -3.5px;
  margin-bottom: -3.5px;
  aspect-ratio: 1.03;
}

.iphone-pro .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -4px;
  margin-bottom: -2px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.iphone-pro .frame-8 {
  display: flex;
  width: 176px;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 16px 20px;
  position: absolute;
  top: 4034px;
  left: 38px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(160deg, rgba(255, 255, 255, 0.25) 0%, rgba(153, 153, 153, 0.1) 100%);
}

.iphone-pro .group-8 {
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: -3.5px;
  margin-bottom: -3.5px;
  aspect-ratio: 1;
}

.iphone-pro .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -5px;
  margin-bottom: -3px;
  margin-right: -10px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro .frame-9 {
  display: flex;
  width: 125px;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 16px 20px;
  position: absolute;
  top: 4034px;
  left: 228px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(160deg, rgba(255, 255, 255, 0.25) 0%, rgba(153, 153, 153, 0.1) 100%);
}

.iphone-pro .vector-5 {
  position: relative;
  width: 25px;
  height: 20px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.iphone-pro .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -5px;
  margin-bottom: -3px;
  margin-right: -12px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.cloudinary-video {
  background: #000;
  object-fit: cover;
  border-radius: 12px;
}

.video-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.video-modal.hidden {
  display: none;
}

.video-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.85);
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(90vw, 420px);
}

.video-container video {
  width: 100%;
  border-radius: 14px;
}

html {
  scroll-behavior: smooth;
}

#portfolio {
  scroll-margin-top: 30px; /* height of your top navbar */
}

.scroll-x::-webkit-scrollbar {
  display: none;
}
